.home-page {
  position: relative;

  .home-page-banner {
    position: relative;
    width: 100%;
    height: calc(100dvh - 4.0625rem);

    // border: 1px solid #000;
    background: linear-gradient(
      180deg,
      rgba(255, 227, 65, 1) 0%,
      rgba(252, 255, 62, 1) 50%,
      rgb(201, 219, 35) 100%
    );

    .title {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .sticker {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .stk {
        position: absolute;
        animation: floatUpDown 3s ease-in-out infinite;

        &.sticker-image0 {
          top: 15%;
          left: 10%;
          width: 12rem;
          aspect-ratio: 1/1;
          background: url("../img/model/34b36567-3c40-4972-8222-d2c316c7362f.png")
            no-repeat center / cover;
          animation-delay: 0s;
        }

        &.sticker-image1 {
          top: 30%;
          left: 60%;
          transform: translate(-50%, -50%);
          width: 8rem;
          aspect-ratio: 1/1;
          background: url("../img/model/9d78df93-bdf2-41cb-8593-d61a0f084a03.png")
            no-repeat center / cover;
          animation-delay: 0.3s;
        }

        &.sticker-image2 {
          top: 65%;
          right: 10%;
          width: 10rem;
          aspect-ratio: 1/1;
          background: url("../img/model/b7648c6d-4fde-4032-9d87-c355b8e51285.png")
            no-repeat center / cover;
          animation-delay: 0.6s;
        }

        @keyframes floatUpDown {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-10px); // bay lên
          }
          100% {
            transform: translateY(0); // trở lại
          }
        }
      }
    }
  }

  .home-page-content {
    position: relative;
    width: min(100%, 1024px);
    margin: 0 auto;
    padding: 2rem 0;

    h1 {
      width: 100%;
      padding: 0.375rem 0.625rem;
      margin: 1rem 0 0 0;
      text-align: left;
    }
    .content-product {
      position: relative;
      width: 100%;

      ul {
        position: relative;
        width: 100%;
        display: flex;
        justify-self: start;
        align-items: stretch;
        overflow: hidden;
        overflow-x: auto;
        // flex-wrap: wrap;

        li {
          position: relative;
          padding: 0.625rem;
          min-width: 15rem;
          display: flex;
          justify-content: center;
          align-items: center;

          .product-item {
            position: relative;
            width: min(100%, 250px);
            min-height: fit-content;
            padding: 0.625rem;
            border: 1px solid #3333;
            border-radius: 0.375rem 0.625rem 1rem;
            transition: all 0.1s ease;
            font-family: k2d, "Lexend Deca", sans-serif;

            &:hover {
              border: 1px solid #3336;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

              .product-image {
                .product-img-bg {
                  transform: perspective(1024px) rotateX(20deg);
                  transform-origin: bottom center;
                  border-radius: 25% 25% 0.375rem 0.375rem;
                }

                .product-img-subject {
                  transform: translateY(-10px) scale(1.05);
                }
              }
            }

            .product-image {
              position: relative;
              width: 100%;
              aspect-ratio: 1/1;

              border: 1px solid #3331;
              border-radius: 0.25rem;
              display: inline-block;

              .product-img-bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 0.375rem;
                background: radial-gradient(
                  circle,
                  rgba(255, 227, 65, 1) 0%,
                  rgba(252, 255, 62, 1) 50%,
                  rgb(201, 219, 35) 100%
                );
              }

              .product-img-subject {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                filter: drop-shadow(-3px 0 0 white) drop-shadow(3px 0 0 white)
                  drop-shadow(0 -3px 0px white) drop-shadow(0 3px 0px white)
                  drop-shadow(0 6px 3px rgba(0, 0, 0, 0.3));
              }

              .product-img-bg,
              .product-img-subject {
                transition: all 0.25s ease-in-out;
              }
            }

            .product-name {
              position: relative;
              width: 100%;
              padding: 0.625rem 0 0.0625rem 0;
            }

            .product-price {
              position: relative;
              width: 100%;
              padding: 0.0625rem 0 0.625rem 0;
              color: crimson;
            }

            .product-button {
              position: relative;
              width: 100%;
              padding: 0.375rem;
              margin: 0.625rem 0 0;
              color: #fff;
              font-family: "Lexend Deca", san-serif;
              font-size: 16px;
              border-radius: 40px;
              background: linear-gradient(
                  120deg,
                  #4bdb27 45%,
                  rgb(99 78 207 /0%) 45%
                ),
                linear-gradient(120deg, #97ff42 55%, #634ecf 55%);
              background-size: 250%;
              background-position: right;
              transition: 0.3s ease-in-out;
              overflow: visible;
              border-radius: 0.8rem;
              border: 1px solid #dadada;
              box-shadow: -0.17rem -0.17rem 0.2rem #eee9,
                0.1rem 0 0.4rem #dadada99, 0.2rem 0.2rem 0.2rem #777,
                -0.17rem -0.17rem 0.2rem #eee inset,
                0.2rem 0.2rem 0.2rem #dadada inset;
              font-family: k2d, "Lexend Deca", sans-serif;

              &:hover {
                background-position: left;
                transition: 0.3s ease-in-out;
              }
            }
          }

          .product-button-more {
            position: relative;
            width: 5rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            border: var(--dark-10);
            font-weight: bold;
            transition: all 0.1s ease;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

            &:hover {
              background: #DDDD;
            }
            &:active {
              background: #DDDD;
              transform: scale(0.95);
            }
          }
        }
      }
    }
    .content-service {
      position: relative;
      width: 100%;

      ul {
        position: relative;
        width: 100%;
        display: flex;
        justify-self: start;
        align-items: stretch;
        overflow: hidden;
        overflow-x: auto;
        // flex-wrap: wrap;

        li {
          position: relative;
          padding: 0.625rem;
          min-width: 15rem;
          display: flex;
          justify-content: center;
          align-items: center;

          .product-item {
            position: relative;
            width: min(100%, 250px);
            min-height: fit-content;
            padding: 0.625rem;
            border: 1px solid #3333;
            border-radius: 0.375rem 0.625rem 1rem;
            transition: all 0.1s ease;
            font-family: k2d, "Lexend Deca", sans-serif;

            &:hover {
              border: 1px solid #3336;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

              .product-image {

                .product-img-subject {
                  transform: scale(1.01);
                }
              }
            }

            .product-image {
              position: relative;
              width: 100%;
              aspect-ratio: 1/1;

              border: 1px solid #3331;
              border-radius: 0.25rem;
              display: inline-block;


              .product-img-subject {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

              }

              .product-img-bg,
              .product-img-subject {
                transition: all 0.25s ease-in-out;
              }
            }

            .product-name {
              position: relative;
              width: 100%;
              padding: 0.625rem 0 0.0625rem 0;
            }

            .product-price {
              position: relative;
              width: 100%;
              padding: 0.0625rem 0 0.625rem 0;
              color: crimson;
            }

            .product-button {
              position: relative;
              width: 100%;
              padding: 0.375rem;
              margin: 0.625rem 0 0;
              color: #fff;
              font-family: "Lexend Deca", san-serif;
              font-size: 16px;
              border-radius: 40px;
              background: linear-gradient(
                  120deg,
                  #4bdb27 45%,
                  rgb(99 78 207 /0%) 45%
                ),
                linear-gradient(120deg, #97ff42 55%, #634ecf 55%);
              background-size: 250%;
              background-position: right;
              transition: 0.3s ease-in-out;
              overflow: visible;
              border-radius: 0.8rem;
              border: 1px solid #dadada;
              box-shadow: -0.17rem -0.17rem 0.2rem #eee9,
                0.1rem 0 0.4rem #dadada99, 0.2rem 0.2rem 0.2rem #777,
                -0.17rem -0.17rem 0.2rem #eee inset,
                0.2rem 0.2rem 0.2rem #dadada inset;
              font-family: k2d, "Lexend Deca", sans-serif;

              &:hover {
                background-position: left;
                transition: 0.3s ease-in-out;
              }
            }
          }

          .product-button-more {
            position: relative;
            width: 5rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            border: var(--dark-10);
            font-weight: bold;
            transition: all 0.1s ease;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

            &:hover {
              background: #DDDD;
            }
            &:active {
              background: #DDDD;
              transform: scale(0.95);
            }
          }
        }
      }
    }
  }

  .home-page-footer {
    position: relative;
    width: 100%;

    p {
      position: relative;
      padding: 0.25rem;
      text-align: center;
      background: #222;
      color: #eee;
    }
  }
}
